/* Global settings */

@import url("https://fonts.googleapis.com/css?family=Montserrat:800");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  & button {
    border: none;
    background-color: transparent;
  }
}
* {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

#topBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  color: #e3000b;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  background-color: transparent;
}
#topBtn:hover {
  color: #1e5aa8;
}

@media only screen and (max-width: 1023px) {
  #transition {
    display: none;
  }
  #topBtn {
    font-size: 5rem;
  }
}

/* jaunelego: #feed00; */
/* rougelego: #e3000b; */
/* bleulego: #1E5AA8; */
