header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.conntainer-header {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  position: relative;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* logo */
#logo-header-link {
  cursor: pointer;
  padding: 1rem;
}
#logo-header-svg {
  height: 3rem;
  width: auto;
}

/* icone pour ouvrir le burger menu */
#open-menu {
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
#icone-open-menu {
  cursor: pointer;
  height: 3rem;
  width: auto;
}
#icone-open-menu-hover {
  display: none;
  cursor: pointer;
  height: 3rem;
  width: auto;
}

/* menu burger masqué */
#burger-menu {
  z-index: 2;
  display: none;
  background-color: #feed00;
  top: 0;
  right: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transform: translate(100vw);
  transition: transform 0.5s;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  position: absolute;
  max-width: 500px;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  width: 25vw;
  max-width: 500px;
}
#burger-menu-ul {
  width: 100%;
  margin-top: 5rem;
}
.burger-menu-li {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.burger-menu-a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}
.burger-menu-a:hover {
  background-color: black;
  color: #feed00;
  transition: all 0.3s ease-in-out;
}
/* icone pour fermer le burger menu */
#close-menu {
  width: fit-content;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
#icone-close-menu {
  cursor: pointer;
  height: 3rem;
  width: auto;
}
#icone-close-menu-hover {
  display: none;
  cursor: pointer;
  height: 3rem;
  width: auto;
}

/* réseaux sociaux */
.burger-socials {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.burger-socials a {
  color: black;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}
.burger-socials a:hover {
  color: #1e5aa8;
}

/* les class a ajouter avec le header.js pour le header */
.display-none {
  display: none;
}
.display-block {
  display: block;
}
#burger-menu.burger-menu-open {
  display: block;
}

/* media queries écran supérieur a 1920px */
@media only screen and (min-width: 1920px) {
  #burger-menu {
    transform: translateY(-100vw);
    transition: transform 0.5s;
  }
  #burger-menu.burger-menu-open {
    height: auto;
    transform: translateY(0);
    max-width: 500px;
  }
}

/* media queries écran inférieur a 1023px */
@media only screen and (max-width: 1023px) {
  #burger-menu {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(0);
    min-width: 100vw;
  }
  #burger-menu-ul {
    width: auto;
    margin-top: 4rem;
    padding: 3rem;
  }
  .burger-menu-li {
    margin-top: 3rem;
  }
  .burger-menu-a {
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
  }
  .burger-socials {
    margin-top: 3rem;
    padding: 4rem;
  }
  .burger-socials a {
    font-size: 5rem;
  }
  #logo-header-svg {
    height: 7rem;
  }
  #logo-header-svg-hover {
    height: 7rem;
  }
  #icone-open-menu {
    height: 7rem;
  }
  #icone-open-menu-hover {
    height: 7rem;
  }
  #icone-close-menu {
    height: 7rem;
  }
  #icone-close-menu-hover {
    height: 7rem;
  }
}
