/* Section & conteneur */
#histoire {
  background-color: #feed00;
  padding: 5rem;
  background-image: url("/media/image/bg_fig.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh; /* La section prend toute la hauteur de la fenêtre */
  min-height: calc(var(--vh, 1vh) * 100);
}

#container-histoire {
  margin: auto;
}

#h2-histoire {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 6rem;
  color: #1E5AA8;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black,
  5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black,
  10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black,
  14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black,
  18px 18px black, 19px 19px black, 20px 20px black;
}

/* les cartes */
.lego-cards {
  column-count: 4;
  column-gap: 5rem;
  margin-bottom: 3rem;
}

/* Une carte */
.lego-card {
  background-color: #1e5aa8;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & .card-text{
    & p {
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.6;
      color: #feed00;
      & a {
        text-decoration: none;
        color: white;
      }
      & a:hover {
        color: #000;
      }
    }
  }
}

/* Image dans la carte */
.lego-card img {
  width: 100%;
  display: block;
  height: auto;
  border: #1e5aa8 2px solid;
  cursor: pointer;
}

/* Info finale (hors cartes) */
.lego-info {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/media/image/bg_fig.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.lego-info p {
  margin-bottom: 1rem;
  text-align: start;
}
#text-pdf {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Bouton PDF */
.pdf-button {
  text-decoration: none;
  cursor: pointer;
  background-color: #1e5aa8;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.pdf-button:hover {
  background-color: #feed00;
  color: black;
}

#lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

#lightbox-img {
  height: 66vh;
  height: calc(var(--vh, 1vh) * 66);
  width: auto;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

/* Responsive */
@media only screen and (max-width: 1023px) {
  #h2-histoire {
    font-size: 6rem;
  }
  .lego-cards {
    column-count: 2;
    column-gap: 5rem;
  }
  .lego-card {
    margin-bottom: 5rem;
    width: 100%;
  }
 
  .pdf-button {
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
  }
}

/* Responsive */
@media only screen and (max-width: 768px) {
  #h2-histoire {
    font-size: 6rem;
  }
  .lego-cards {
    column-count: 1;
    column-gap: 2rem;
  }
  .lego-card {
    margin-bottom: 5rem;
    width: 100%;
  }
 
  .pdf-button {
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
  }
}
