/* Section Home */
#home {
  min-height: 100vh; /* La section home prend toute la hauteur de la fenêtre */
  min-height: calc(var(--vh, 1vh) * 100);

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  #bg-home {
    height: 100vh; /* La section home prend toute la hauteur de la fenêtre */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-image: url("/media/image/bg_fig.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Mettre l'image en arrière-plan */
    opacity: 0.33;
  }
  & #logo-home-svg {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
  }
  & h1 {
    font-size: 70px;
    margin-bottom: 35px;
  }
  & a {
    text-decoration: none;
    & button {
      cursor: pointer;
      background-color: #feed00;
      color: black;
      padding: 16px 32px;
      border: none;
      border-radius: 8px;
      font-size: 17px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    & button:hover {
      background-color: black;
      color: white;
    }
  }
}

/* jaunelego: #feed00; */
/* rougelego: #e3000b; */
/* bleulego: #1E5AA8; */
