#pieces {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  /* background-color: #feed00; */
}

.image-container {
  padding: 1rem;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h2 {
  text-align: center;
  font-size: 2rem;
  color: #000; /* texte noir */
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem; /* espacement autour du texte */
  margin-top: 10rem; /* espacement au-dessus du texte */
}
.lego-image {
  height: 100%;
  width: 100%;
  max-height: 720px;
}

.pastille {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

/* Positionnement des pastilles */
.pastille-tete {
  top: 6%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.pastille-bras {
  top: 40%;
  left: 22%;
  transform: translate(-50%, -50%);
}
.pastille-main {
  top: 50%;
  left: 91%;
  transform: translate(-50%, -50%);
}
.pastille-jambe {
  top: 75%;
  left: 74%;
  transform: translate(-50%, -50%);
}
.pastille-hanches {
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pastille-torse {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Texte d'information */
div#texte-data-info {
  height: 6rem;
  display: flex !important;
  justify-content: center;
  display: none; /* caché par défaut */
  align-items: center;
  justify-content: center;
  align-content: center;
}

p.texte-data-info {
  text-align: center; /* centrer le texte */
  color: #000; /* texte noir */
  font-size: 4rem; /* taille de police */
  padding: 1rem; /* espacement autour du texte */
  font-weight: bold;
  text-transform: uppercase;
}

/* media queries écran inférieur a 1024px */
@media only screen and (max-width: 1024px) {
  .lego-image {
    max-height: 400px;
  }
  .pastille-tete {
    top: 6%;
    left: 46%;
  }
  .pastille-bras {
    top: 38%;
    left: 22%;
  }
  .pastille-main {
    top: 47%;
    left: 90%;
  }
  .pastille-jambe {
    top: 68%;
    left: 74%;
  }
  .pastille-hanches {
    top: 64%;
    left: 50%;
  }
  .pastille-torse {
    top: 40%;
    left: 50%;
  }
}