#pieces {
  position: relative;
  width: 100%;
  background-image: url("/media/image/bg_fig.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #1e5aa8;
  padding: 5rem 1rem;
}
#h2-pieces {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 6rem;
  color: #feed00;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black,
    5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black,
    10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black,
    14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black,
    18px 18px black, 19px 19px black, 20px 20px black;
}
#container-image-pieces {
  width: fit-content;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: #feed00 2px solid;
}

.lego-image {
  height: 100%;
  width: 100%;
  max-height: 500px;
  background-color: white;
}

.pastille {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.pastille:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(128, 128, 128, 1);
  border: 2px solid black;
}

/* Positionnement des pastilles */
.pastille-tete {
  top: 5%;
  left: 43%;
}
.pastille-bras {
  top: 33%;
  left: 20%;
}
.pastille-main {
  top: 40%;
  left: 85%;
}
.pastille-jambe {
  top: 69%;
  left: 70%;
}
.pastille-hanches {
  top: 61%;
  left: 47%;
}
.pastille-torse {
  top: 40%;
  left: 47%;
}

/* Texte d'information */
div#texte-data-info {
  display: none;
  height: 5rem;
  display: flex !important;
  justify-content: center;
  display: none; /* caché par défaut */
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #feed00;
}

p.texte-data-info {
  text-align: center; /* centrer le texte */
  font-size: 3rem; /* taille de police */
  padding: 1rem; /* espacement autour du texte */
  font-weight: bold;
  text-transform: uppercase;
  color: #1e5aa8;
}





/* media queries écran inférieur a 1023px */
@media only screen and (max-width: 1023px) {
  #h2-pieces {
    font-size: 6rem;
  }
  .lego-image {
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 800px;
  }
  .pastille {
    width: 70px;
    height: 70px;
  }
}
